/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************************************
		      NAVIGATION
************************************/

/*most specifications are original 
only few came from the actual site*/

/*not too good with flex property
had to cancel out most of it*/

body{
	margin: 10px -10px 0 0; 
	overflow: hidden;
	font-family: tahoma, arial, sans-serif;
	background-image: url('square.png'); /*no click; no hover property*/
	background-repeat: no-repeat;
	background-position: 1190px 27px;
}

header.nav {
	width: 100%;
	display: inline-block;
	position: relative;
	left: 300px;
	color: #333333;
}

div.space{
	height: 25px;
	width: 270px;
	position: absolute;
	left: 710px;
	top: 7px;
	padding-top: 2px;
	font-size: 0.9em;
}



div.size {
	padding: 10px;
	font-size: 93%;
	display: inline;
}

div.size a {
	text-decoration: none;
	color: #333333;
}

div.size a:hover {
	text-decoration: underline;
}

input.signin {
	width: 70px;
	padding: 7px 10px;
	border-radius: 2px;
	background-color: #4285f4;
	border-width: 0;
	font-size: 94%;
	color: white;
	position: absolute;
	left: 930px;
	top: -4px;
}

input.signin:hover {
	padding-bottom: 8px;
	transition: .1s;
}

input[value= "Sign in"] {
	font-size: 0.9em;
	font-weight: bold;
}



/************************************
		        MAIN
************************************/

img {
	height: 95px;
	width: 269px;
	padding: 20px;
	cursor: auto;
}

input.field {
	width: 180%;
	padding: 6px;
	margin-left: -150px;
	border: 1px solid #cccccc;
	background-image: url('mic.png');
	background-repeat: no-repeat;
	background-position: 100%;
}

input.field:hover{
	border-color: #aaaaaa;
}

input.field:focus {
	outline: 1px solid hsla(50, 150, 255, .6);
}

section.main {
	position: absolute;
	top: 180px;
	left: 520px;
}

p.button {
	padding: 1px;
	margin-top: 11px;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	width: 74%;
	position: absolute;
	left: 40px;
}

input.resize {
	display:-webkit-flex;
	padding: 7px 10px;
	border-radius: 2px;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	color: #333333;
}

input[value= "Google Search"] {
	font-family: tahoma, arial, sans-serif;
}

input[value= "I'm Feeling Lucky"] {
	font-family: tahoma, arial, sans-serif;
}

/************************************
		        FOOTER
************************************/

div.footer {
	height: 60px;
	min-width: 100%;
	background-color: rgba(200, 200, 200, .2);
	position: absolute;
	top: 94%;
	border: 1px solid #cccccc;
	display: inline-block;
}

div.footer a {
	text-decoration: none;
	color: #666666;
	font-size: 0.84em;
}

div.footer a:hover {
	text-decoration: underline;
}

div.right {
	position: relative;
	float: right;
	padding-right: 30px;
}

div.right ul li {
	display: inline-block;
	padding: 10px;
}


div.left {
	position: absolute;
	padding-left: 30px;
}

div.left ul li {
	display: inline-block;
	padding: 10px;
}
	@media screen and (max-width: 950px) {
		div.right {
			display: none;
		}
	}